@import '../../../assets/scss/mixin';
@import '../scss/variables.scss';

.content-sa {
   position: relative;
   z-index: 90;
   background-color: #f7f7f7;
}

.content-sa-group {
   padding: 0;
}

.content-sa-native {
   display: flex;
   justify-content: center;
   align-items: center;
   .content-sa-native-items {
      width: 100%;
      height: 420px;
      overflow: auto;
      padding: 0 20px 0 0;
   }
   .content-sa-polygon {
      position: relative;
      background-image: url("../img/home/side_circle.png");
      background-size: 100% auto;
      width: 60px;
      height: 335px;
      margin-bottom: 20px;
      padding: 15px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
   }
}

.circle-container {
   width: 55px;
   height: 55px;
   position: relative;
   &:nth-child(2), &:nth-child(4) {
      margin-left: 19px;
   }
   &:nth-child(3) {
      margin-left: 27px;
   }
   .circle-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 55px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 5;
      font-size: 10px;
      color: #cccccc;
      transition: all 0.2s ease-in-out;
   }
   img {
      position: absolute;
      top: 0;
      left: 0;
      width: 55px;
      height: 55px;
      transition: all 0.1s ease-in-out;
   }
   .blue {
      transform: scale(0.8);
   }
}

.circle-active {
   .circle-text {
      color: #feffff;
   }
   .white {
      opacity: 0;
   }
   .blue {
      transform: scale(1);
   }
}

.content-sa-items {
   padding: 12px 0;
   padding-top: 62px;
   padding-bottom: 64px;
   &.not {
      padding-top: 42px;
   }
   @media screen and (max-width: 375px) {
      padding-top: 10px;
      &.not {
         padding-top: 5px;
      }
   }
   @media screen and (min-width: 620px) {
      padding-top: 20px;
      .sa-group--item {
         display: inline-block;
         vertical-align: top;
         width: calc(50% - 10px);
         margin: 0 20px 20px 0 !important;
         &:nth-child(2n) {
            margin-right: 0 !important;
         }
         &:last-child {
            margin-bottom: 0 !important;
         }
      }
   }
   @media screen and (min-width: 1034px) {
      .sa-group--item {
         width: calc(33% - 10px);
         margin: 0 20px 20px 0 !important;
         &:nth-child(2n) {
            margin-right: 20px !important;
         }
         &:nth-child(3n) {
            margin-right: 0 !important;
         }
      }
   }
   .sa-group--item {
      cursor: pointer;
      position: relative;
      margin: 0 auto;
      padding: 0 5px;
      margin-bottom: 6px;
      display: block;
      transition: all 0.1s linear;
      width: 95%;
      img {
         margin: 0 auto;
         width: 100%;
         height: auto;
      }
      .native-sportcount {
         position: absolute;
         color: #3b4e73;
         font-weight: bolder;
         font-size: 18px;
         font-family: Sports Count;
      }
      .native-sportcount {
         top: 50%;
         transform: translateY(-50%);
         right: 25%;
         display: flex;
         justify-content: center;
         align-items: flex-end;
         p {
            &:nth-child(1) {
               font-size: 25px;
            }
            &:nth-child(2) {
               font-size: 14px;
               margin-left: 5px;
               margin-bottom: 5px;
            }
         }
      }
      &:last-child {
         padding-bottom: 10px;
      }
   }
}

.content-sa-tabs {
   padding: 10px 10px 0;
   min-width: 320px;
}

.tabs2 {
   font-size: 0;
   width: 100%;
   margin: 0 auto;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-around;
   height: 40px;
   @include radius(60px);
   // @include shadow(0px 0.5px 5px 1.5px rgba(0, 0, 0, 0.05));
   &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: transparent;
      @include radius(60px);
   }
   .tab {
      white-space: nowrap;
      width: 80px;
      color: #3b4e73;
      cursor: pointer;
      text-align: center;
      font-family: Pingfang Bold;
      font-size: 13px;
      font-weight: bold;
      font-style: italic;
      @include select(none);
      @include position(relative, $z-index: 100);
      @include transition(color 0.2s ease-in-out);
      height: 40px;
      line-height: 40px;
      position: relative;
      &::before {
         content: '';
         background-image: url("../img/home/white_tab.png");
         background-repeat: no-repeat;
         background-size: 100% 100%;
         width: 80px;
         height: 36px;
         position: absolute;
         top: 4px;
         left: 0px;
         z-index: -5;
         opacity: 1;
         @include transition(opacity 0.2s ease-in-out);
      }
      &.active {
         color: #fff;
         &::before {
            opacity: 0;
         }
      }
   }
   .tab--switch {
      width: 80px;
      height: 40px;
      @include select(none);
      @include position(absolute, $z-index: 50, $left: 0px, $top: 5px);
      @include transition(width 0.2s ease-in-out, transform 0.2s ease-in-out);
      background-image: url("../img/home/blue_tab.png");
      background-repeat: no-repeat;
      background-size: 100% auto;
   }
   @media (max-width: 350px) {
      height: 32px;
      margin-bottom: 10px;
      .tab {
         font-size: 11px;
         width: 68px;
         height: 32px;
         &::before {
            width: 68px;
            height: 32px;
            top: 5px;
         }
      }
      .tab--switch {
         width: 68px;
         height: 32px;
         top: 7px;
      }
   }
}
