@import "../../../assets/scss/mixin";

.wrap-sa {
  $head-height: 59px;
  display: flex;
  padding: $head-height 0 0;
  background: #f7f7f7;

  .wrap-sa-head {
    height: $head-height;
    padding: 0 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include position(
      fixed,
      $z-index: 800,
      $top: 0,
      $left: 0,
      $right: 0,
      $bottom: auto
    );
    @include gradient2(-99deg, #04a0f9 3%, #08b1f9 47%, #08b1f9 100%);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    svg {
      fill: #fff;
    }
    .next-arrow {
      padding: 2px 4px;
      background: url(../img/back.svg) no-repeat center center/contain;
      width: 12px;
      height: 22px;
      display: inline-block;
    }
    .center-name {
      color: #fff;
      text-align: center;
      pointer-events: none;
      @include position(absolute, $top: 0, $left: 0, $right: 0, $bottom: 0);
      @include font(19px, 500, $head-height);
    }
  }
  .wrap-sa-content {
    flex: 1;
    padding: 0 0 75px;
    .content-inner {
      padding: 25px 20px;
      height: 100%;
      touch-action: none;
      .title {
        font-size: 12px;
        color: #07acf9;
        margin-bottom: 10px;
        margin-left: 15px;
      }
      .form-field {
        font-size: 14px;
        border-radius: 10px;
        border: 1px solid #f1eeee;
        background: #fff;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.02);
        margin: 0;
        height: 52px;
        padding: 16px 0;
        margin-bottom: 10px;

        label {
          display: inline-block;
          font-size: 14px;
          width: 80px;
        }

        .form-field--input-wrap {
          display: inline-block;
          width: calc(100% - 90px);
        }

        input {
          border: none;
          background-color: transparent;
          padding: 0 5px;
          text-align: right;
          display: inline-block;
          opacity: 1;
          z-index: 1;
          font-size: 14px;
          margin-right: 10px;
        }
        input::placeholder {
          font-weight: 400;
          color: #d1d2d3;
        }
      }
      .submit {
        margin: 20px 0 0;
        width: 100%;
        text-align: center;

        .form-button {
          background-image: linear-gradient(#bbbcbc, #ebebe8);
          padding: 16px 0;
          color: white;
          height: 52px;
          border-radius: 10px;
          font-size: 14px;
          position: relative;
        }
        .form-button-active {
          background-image: linear-gradient(#04a0f9, #08b1f9);
        }
      }
      .verification {
        padding: 8.5px 0;
        input {
          text-align: left;
          padding-left: 14px;
          margin-right: 10px;
          width: calc(100% - 125px);
        }
        button.code {
          outline: none;
          display: inline;
          box-sizing: border-box;
          border: 1px solid #bbbcbc;
          padding: 5px 15px;
          font-size: 14px;
          color: #bbbcbc;
          border-radius: 5px;
        }
        button.active {
          border: 1px solid #04a0f9;
          color: #04a0f9;
        }
      }
      .support {
        width: 100%;
        font-size: 16px;
        color: #07acf9;
        text-align: center;
        margin-top: 20px;
      }
    }
  }
}
