@import "_reset";
@import "_mixin";
@import "_variables";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Noto+Sans+SC:wght@400;500;700&family=Roboto:wght@400;500&display=swap");

@font-face {
  font-family: Metropolis;
  src: url(../font/Metropolis/Metropolis-Black.otf);
}
@font-face {
  font-family: BenmoJinhei;
  src: url(../font/BenmoJinhei.ttf);
}
@font-face {
  font-family: Lato;
  src: url(../font/lato/Lato-Regular.ttf);
}
@font-face {
  font-family: Microsoft Yahei;
  src: url(../font/microsoft-yahei.ttf);
}
@font-face {
  font-family: BebasNeue;
  src: url(../font/bebas_neue/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: Acumin;
  src: url(../font/acumin-pro-cufonfonts/Acumin-RPro.otf);
}
@font-face {
  font-family: Acumin-bold;
  src: url(../font/acumin-pro-cufonfonts/Acumin-BdPro.otf);
}
/* Fonts:
	Noto Sans SC: normal (400), medium (500), bold (700)
	Montserrat: medium (500), bold (600), bold (700)
	Roboto: normal (400), medium (500)
 --------- */

body {
  background: #f4f8f9;
  font-family: "Noto Sans SC", sans-serif;
  font-family: "Microsoft Yahei";
}

button,
input {
  font-family: "Noto Sans SC", sans-serif;
}

body.promotions-page {
  background: #f4f8f9;
}
body.dashboard-page {
  background: #f4f8f9;
}
body.login-page {
  .app {
    padding: 0;
  }
}

.app {
  padding: 80px 0 0;
  position: relative;
  background: #f4f8f9;
}

button {
  outline: none;
  cursor: pointer;
}

.button-default {
  color: #fff;
  background: $color-primary;
  padding: 7.5px;
  min-width: 80px;
  @include font(16px, 400, 23px);
  @include select(none);
  @include radius(5px);
  @include transition(
    opacity 0.2s ease,
    background 0.2s ease,
    transform 0.2s ease
  );
  &:disabled {
    cursor: default;
    opacity: 0.6;
    pointer-events: none;
  }
  &:not(:disabled):active {
    color: #fff;
    @include transform(scale(0.96));
  }
  &:not(:disabled):hover {
    background: darken($color-primary, 12);
  }
  &.secondary {
    background: $color-secondary;
    &:not(:disabled):hover {
      background: darken($color-secondary, 6);
    }
  }
}

@keyframes loader {
  to {
    @include transform(rotate(360deg));
  }
}

.with-loader {
  $load_size: 50px;
  position: relative;
  .load-spin {
    opacity: 0;
    pointer-events: none;
    background: transparentize(#fff, 0.2);
    @include position(
      absolute,
      $z-index: 101,
      $top: 0,
      $left: 0,
      $right: 0,
      $bottom: 0
    );
    @include transition(opacity 0.2s ease);
    &:before {
      content: "";
      // animation: loader 1.2s ease infinite;
      // border: 2.5px solid #e9ecf1;
      // border-top-color: #8bdc65;
      // @include size($load_size, $load_size);
      // @include radius(50%);
      @include position(
        absolute,
        $top: calc(50% - (#{$load_size}/ 2)),
        $left: calc(50% - (#{$load_size}/ 2))
      );
      background: url(../img/ks_load.gif) no-repeat center center/cover;
      width: 70px;
      height: 70px;
    }
  }
  &.loading {
    .load-spin {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

button.button-stylized {
  color: #fff;
  white-space: nowrap;
  @include font(20px, 400);
  @include radius(40px);
  @include gradient2(95deg, #c1ea4f 2%, #8bdc65 45%, #16885f 100%);
}

// TOOL TIP
.tool-tip-copied {
  position: absolute;
  display: none;
  background: rgba(66, 66, 66, 0.72);
  color: #fff;
  width: 114px;
  padding: 8px 0;
  text-align: center;
  border-radius: 10px;
  right: -90px;
  bottom: 35px;
  font-size: 14px;
  &.show {
    display: block;
  }
  &:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 15px solid rgba(66, 66, 66, 0.72);
    position: absolute;
    top: calc(100% - 5px);
    left: -5px;
    transform: rotate(34deg);
  }
  @media screen and (max-width: 375px) {
    right: -60px;
  }
}
