@import '_mixin';

.ui-tabs {
	font-size: 0;
	background: #fff;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: stretch;
	margin: 0 0 45px;
	@include radius(60px);
	@include shadow(0 0 44px rgba(24, 24, 25, 0.07), inset 0 -2px 4px rgba(79, 95, 77, 0.9), inset 0 2px 4px rgba(0, 0, 0, 0.25));
	&:after {
		content: '';
		background: transparent;
		border: 3px solid #fff;
		@include radius(60px);
		@include position(absolute, $top: 0, $left: 0, $right: 0, $bottom: 0);
	}
	&--tab {
		width: 100%;
		white-space: nowrap;
		color: #000;
		cursor: pointer;
		text-align: center;
		padding: 9px;
		@include font(20px, 400, 29px);
		@include select(none);
		@include position(relative, $z-index: 100);
		@include transition(color .2s ease-in-out);
		&.active {
			color: #fff;
		}
		&.disabled {
			opacity: .2;
			cursor: default;
			pointer-events: none;
		}
	}
	&--selector {
		@include select(none);
		@include radius(60px);
		@include shadow(0 6px 20px rgba(159, 213, 63, .5));
		@include position(absolute, $z-index: 50, $top: -3px, $right: -3px, $bottom: -3px, $left: -3px);
		@include gradient2(95deg, #c1ea4f 5%, #8bdc65 45%, #16885f 100%);
		@include transition(width .2s ease-in-out, transform .2s ease-in-out);
	}
}

